[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/pinkmanipulator
ExecStart=/home/pi/pinkmanipulator/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 1 \
          --threads 5 \
          --bind unix:/run/gunicorn.sock \
          --env FLASK_ENV=config.ProductionConfig \
          runner:app

Type=notify
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
