<html>
  <head>
    <title>XRRobot http server</title>
  </head>
  <body>
    <h1>XRRobot http server</h1>
    <p><strong>Base links:</strong></p>
    <ul>
        <li><b><a href="/status">status</a></b></li>
        <li><b><a href="/service?name=getservices">getservices</a></b></li>
        <li><b><a href="/service?name=getactions">getactions</a></b></li>
    </ul>

    <p><strong>Useful links:</strong></p>
    <ul>
      <li><b><a href="/action?name=movetoa">Perform "MoveToA"</a></b></li>  
      <li><b><a href="/status?action=movetoa">"MoveToA" status</a></b></li>
      <li><b><a href="/action?name=movetob">Perform "MoveToB"</a></b></li>  
      <li><b><a href="/status?action=movetob">"MoveToB" status</a></b></li>
      <li><b><a href="/reset">Reset</a></b></li><br/>
      <li><b><a href="/service?name=startrosrun">START ROSRun</a></b></li>
      <li><b><a href="/service?name=stoprosrun">STOP ROSRun</a></b></li>
    </ul>
  </body>
</html>