[Unit]
Description=Xrrobot http server daemon
After=network.target
#After=robot.rosrun.service


[Service]
User=xrrobot
Group=xrrobot
WorkingDirectory=/home/xrrobot/agents_python/xrrobot
ExecStart=/home/xrrobot/agents_python/xrrobot/start.sh
Type=simple
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target