<html>
  <head>
    <title>Wheeltec http server</title>
  </head>
  <body>
    <h1>Wheeltec http server</h1>
    <h2>Send command</h2>
    <p><strong>/run?cmd=ACTION_NAME</strong>&nbsp;-&nbsp;run action</p>
      <p>Available actions:
        <ul>
        <li><b>transfercube</b> - will move robot to pinkmanipulator</li>
        <li><b>moveback</b> - will move robot back</li>
        <li><b>status</b> - will return status</li>
      </ul></p>
    <p><strong>/status</strong> - ask for state</p>
  </body>
</html>