[Unit]
Description=Robot rosrun daemon
After=network.target

[Service]
User=xrrobot
Group=xrrobot
WorkingDirectory=/home/xrrobot/
ExecStart=/home/xrrobot/agents_python/mobman_move/rosrun.sh >> "/home/xrrobot/agents_python/mobman_move/rosrun.log"
Type=simple
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always


[Install]
WantedBy=multi-user.target