<html>
  <head>
    <title>BlueMan http server</title>
    <script>
      deviceAddr = "http://192.168.1.158:5001";

      async function sendRequest(addr){
        let url = deviceAddr + addr;
        let response = await fetch(url);
        if (response.ok) { // если HTTP-статус в диапазоне 200-299
          // получаем тело ответа (см. про этот метод ниже)
          let json = await response.json();
          if (json.rc == 0) {
              return true;
          }
        }
        return false;
      }
    </script>

    <style>
      .button {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>BlueMan http server</h1>
    <div style="width:640px; height:480px;" id="videobox">
      <img src="{{ url_for('video_feed') }}">
      <canvas id="videobox_canvas" width="640" height="480" style="border:0px; position:relative; top:-480px;"></canvas>
    </div>
    <p><strong>Base links:</strong></p>
    <ul>
      <li><b><a href="/status">status</a></b></li>
      <li><b><a href="/service?name=getservices">getservices</a></b></li>
      <li><b><a href="/service?name=getactions">getactions</a></b></li>
    </ul>
    <p><strong>Usefull links:</strong></p>
    <ul>
      <li><b><a class="button" onclick="sendRequest('/action?name=catchcube');">CatchCube</a></b></li>
      <li><b><a class="button" onclick="sendRequest('/action?name=putcube');">PutCube</a></b></li>
      <li><b><a class="button" onclick="sendRequest('/action?name=movehome&speed=70');">move home</a></b></li><br/>

      <li><b><a class="button" onclick="sendRequest('/reset');">RESET</a></b></li><br/>

      <li><b><a href="/status?action=catchcube">status of "catchcube"</a></b></li>
      <li><b><a href="/status?action=putcube">status of "putcube"</a></b></li>
      <li><b><a href="/status?action=movehome">status of "movehome"</a></b></li><br/>
      
      <li><b><a class="button" onclick="sendRequest('/action?name=opengrip&speed=80');">OPEN GRIP</a></b></li>
      <li><b><a class="button" onclick="sendRequest('/action?name=closegrip&speed=80');">CLOSE GRIP</a></b></li><br/>

      <li><b><a href="/service?name=getposition">getposition</a></b></li>
      <li><b><a href="/service?name=getdist">getdistance</a></b></li><br/>

      <li>Addr for move to: <b>/action?name=movemanip&pos=70,120,35,83,40&speed=90</b></li>
      <li>Addr for change home position: <b>/service?name=sethome&pos=70,120,35,83,40</b></li>

    </ul>
    <script src="static/camcalib.js"></script>
  </body>
</html>
