<html>
  <head>
    <title>Mobile camera http server</title>
  </head>
  <body>
    <h1>Mobile camera http server</h1>
    <img src="{{ url_for('video_feed') }}">
    <p><strong>Communication links:</strong></p>
    <ul>
        <li><b><a href="/status">status</a></b></li>
        <li><b><a href="/service?name=getservices">getservices</a></b></li>
        <li><b><a href="/service?name=getactions">getactions</a></b></li>
        <li><b><a href="/service?name=getposition">getposition</a></b></li>
      </ul>
  </body>
</html>