[Unit]
Description=Robot http server daemon
After=network.target

[Service]
User=wheeltec
Group=autologin
WorkingDirectory=/home/wheeltec/wheeltec
ExecStart=/home/wheeltec/wheeltec/.venv/bin/python \
          /home/wheeltec/wheeltec/runner.py
Type=simple
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
Environment="PYTHONPATH=/home/wheeltec/wheeltec"
Environment="FLASK_ENV=config.ProductionConfig"

[Install]
WantedBy=multi-user.target