[Unit]
Description=Robot ROS run script daemon
After=network.target
After=sysinit.target

[Service]
User=wheeltec
Group=autologin
WorkingDirectory=/home/wheeltec/
ExecStart=/home/wheeltec/rosrun.sh
Type=simple
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
Environment="ROS_MASTER_URI=http://192.168.1.80:11311"
Environment="ROS_HOSTNAME=192.168.1.80"
Environment="SVGA_VGPU10=0"

[Install]
WantedBy=multi-user.target
